<div class="row half-row">
    <div class="col full-height">
      <a target="_blank" href="https://twitter.com/slickwebstudio">
        <fa-icon [icon]="faTwitter" class='centered'></fa-icon>
      </a>
    </div>
    <div class="col full-height">
      <a target="_blank" href="http://github.com/josedelavalle">
        <fa-icon [icon]="faGithub" class='centered'></fa-icon>
      </a>
    </div>
  </div>
  <div class="row half-row">
    <div class="col full-height">
      <fa-icon [icon]="faEnvelope" (click)="goToContactForm()" class='centered'></fa-icon>
    </div>
    <div class="col full-height">
      <a target="_blank" href="https://www.linkedin.com/in/jose-delavalle-49aa7411a/">
        <fa-icon [icon]="faLinkedin" class='centered'></fa-icon>
      </a>
    </div>
  </div>