<div class="row align-items-center justify-content-center half-row">
  <div class="col full-height padding-right-0">
    <a target="_blank" href="https://twitter.com/slickwebstudio">
      <i fa class='fa fa-twitter centered'></i>
    </a>
  </div>
  <div class="col full-height padding-left-0">
    <a target="_blank" href="http://github.com/josedelavalle">
    <i fa class='fa fa-github centered'></i>
    </a>
  </div>
</div>
<div class="row align-items-center justify-content-center half-row">
  <div class="col full-height padding-right-0">
    <i (click)="goToContactForm()" fa class='fa fa-envelope centered'></i>
  </div>
  <div class="col full-height padding-left-0">
    <a target="_blank" href="https://www.linkedin.com/in/jose-delavalle-49aa7411a/">
      <i fa class='fa fa-linkedin centered'></i>
    </a>
  </div>
</div>