<ngb-carousel class="centered">
  <ng-template ngbSlide>
    <img [ngClass]="(rowCount > 1) ? 'large' : ''" src="../../assets/images/angular.png" alt="Angular 5">
    <div class="carousel-caption">
      <h3>Angular 5</h3>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <img [ngClass]="(rowCount > 1) ? 'large' : ''" src="../../assets/images/csharp.png" alt="C#">
    <div class="carousel-caption">
        <h3>C# - ASP.NET MVC</h3>
      </div>
  </ng-template>

  <ng-template ngbSlide>
    <img [ngClass]="(rowCount > 1) ? 'large' : ''" src="../../assets/images/sqlserver.png" alt="SQL Server">
    <div class="carousel-caption">
        <h3>SQL Server</h3>
      </div>
  </ng-template>

  <ng-template ngbSlide>
    <img [ngClass]="(rowCount > 1) ? 'large' : ''" src="../../assets/images/css3.png" alt="CSS 3">
    <div class="carousel-caption">
        <h3>CSS 3</h3>
      </div>
  </ng-template>
  
  <ng-template ngbSlide>
    <img [ngClass]="(rowCount > 1) ? 'large' : ''" src="../../assets/images/html5.png" alt="HTML 5">
    <div class="carousel-caption">
        <h3>HTML 5</h3>
      </div>
  </ng-template>
</ngb-carousel>