.spacer {
    flex: 1 1 auto;
}
mat-toolbar {
    margin-bottom: 10px;
    min-height: 100px;
    background: slategray;
}
.menu-icon {
    width: 145px;
}
.mat-slider-horizontal {
    //margin: 0 50px 0 20px;
    align-self: center;
    margin: auto;
    width: 100%;
    cursor: pointer;
}

.arrow-icon {
    font-size: 2.5em;
    width: 50px;
    cursor: pointer;
}
.user-data {
    text-align: center;
    height: 30px;
    margin-top: -20px;
    
}

@media only screen and (max-width: 500px) {
    .user-data {
        font-size: 0.8em;
    }
}