.spacer {
    flex: 1 1 auto;
}
.date-container {
    //margin-top: -30px;
    float: right;
    //text-align: center;
    font-size: 0.8em;
}
.heatmap-link {
    float: right;
    cursor: pointer;
}
mat-toolbar {
    margin-bottom: 10px;
    min-height: 100px;
    background:#888;
    a {
        color: #ddd;
    }
    .fa {
        padding: 0 5px 0 2px;
        font-size: 1.65em;
    }
}
.image-of-me {
    width: 25px;
    border-radius: 50%;
    margin-top: -7px;
    padding-left: 2px;
    margin-right: 4px;
    //margin-left: -5px;
}
.slider-controls {
    //margin-top: 20px;
}
.spacer {
    height: 100%;
}
.menu-container {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    
}
.menu-icon {
    width: 100px;
    margin: auto;
    //height: 50px;
    text-align: center;
}
.col-2 {
    padding: 0 !important;
}
.menu-title {
    text-align: center;
    font-size: 1.5em;
    color: black;
    background-color: #ddd;
    border-bottom: 2px solid rgb(123, 240, 205);
    padding: 10px;
}

.mat-slider-horizontal {
    //margin: 0 50px 0 20px;
    align-self: center;
    margin: auto;
    width: 100%;
    cursor: pointer;
}
.progress-bar-container {
    height: 50px;
}
.progress-bar {
    position: absolute;
    top: 95px;
    left: 0;
}
.header-link {
    &:hover {
        color: white;
        text-decoration: underline;
    }
    .fa {
        &:hover {
            color: white !important;
        }
    }
}
.arrow-icon {
    font-size: 2.5em;
    width: 50px;
    cursor: pointer;
}
.user-data {
    text-align: center;
    height: 30px;
}
.user-loc {
    font-size: 1em;
}
@media only screen and (max-width: 1200px) {
    .header-link {
        font-size: 0.8em;
    }   
}
@media only screen and (max-width: 900px) {
    a {
        font-size: 0.8em;
    }
    .user-loc {
        font-size: 0.6em;
    }
    .weather-icon {
        height: 30px;
    }
}

@media only screen and (max-width: 500px) {
    .user-data {
        font-size: 0.8em;
    }
    .user-loc {
        font-size: 1em;
    }
    .menu-icon {
        width: 40px;
        padding: 0;
        min-width: 40px;
    }
    .fa {
        font-size: 1.9em;
        padding: 10px 5px 0 10px !important;
    }
}

